label {
    padding-top: 10px;
    font-size: 0.8em;
    font-weight: bold;
}

button {
    margin-right: 3px; 
}

input.ng-invalid.ng-touched, textarea.ng-invalid.ng-touched {
    border: 1px solid red;
}